<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("header", {active: "", name: name}); %>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/marketplace/books">Books</a></li>
          <li class="breadcrumb-item"><a href="/marketplace/tools">Tools</a></li>
          <li class="breadcrumb-item"><a href="/marketplace/apron">Apron</a></li>
          <li class="breadcrumb-item"><a href="/marketplace/electronics">Electronics</a></li>
          <li class="breadcrumb-item">
            <!-- Button trigger modal -->
            <a href="#" data-toggle="modal" data-target="#exampleModal">
              Post your ad <i class="fa fa-plus-square"></i>
            </a>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Post your ad</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  <form class="needs-validation" novalidate id="user-form" action="/additems" method="POST" enctype="multipart/form-data">
                    <br>
                    <div class="form-group row">
                      <label for="name" class="col-md-4 col-form-label label-1"
                          ><b>Item Name: </b></label
                      >
                      <div class="col-md-7">
                          <input
                              type="text"
                              class="form-control"
                              id="name"
                              placeholder="Name"
                              name="name"
                              required
                          />
                          <div class="invalid-feedback">
                              Please fill out this field.
                          </div>
                      </div>
                  </div>
                  <div class="form-group row">
                    <label for="user" class="col-md-4 col-form-label label-1"
                        ><b>Original Price: </b></label
                    >
                    <div class="col-md-7">
                        <input
                            type="text"
                            class="form-control"
                            id="price"
                            placeholder="Original Price"
                            name="price"
                            required
                        />
                        <div class="invalid-feedback">
                            Please fill out this field.
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                  <label for="pricel" class="col-md-4 col-form-label label-1"
                      ><b>Final Price: </b></label
                  >
                  <div class="col-md-7">
                      <input
                          type="text"
                          class="form-control"
                          id="pricel"
                          placeholder="Final Price"
                          name="pricel"
                          required
                      />
                      <div class="invalid-feedback">
                          Please fill out this field.
                      </div>
                  </div>
              </div>
              <div class="form-group row">
                <label for="desc" class="col-md-4 col-form-label label-1"
                    ><b>Description: </b></label
                >
                <div class="col-md-7">
                    <input
                        type="text"
                        class="form-control"
                        id="desc"
                        placeholder="Description"
                        name="desc"
                        required
                    />
                    <div class="invalid-feedback">
                        Please fill out this field.
                    </div>
                </div>
            </div>
            <div class="form-group row">
              <label for="types" class="col-md-4 col-form-label label-1"
                  ><b>Item Type: </b></label
              >
              <select class="form-control col-md-7" name="sel1" id="sel1">
                <option>Select</option>
                <option>Books</option>
                <option>Apron</option>
                <option>Tools</option>
                <option>Electronics</option>
              </select>
          </div>
          <div class="form-group row">
            <label for="desc" class="col-md-4 col-form-label label-1"
                ><b>Image: </b></label
            >
            <div class="col-md-7">
                <input type="file" id="image"
                name="image" value="" required class="form-control-file rounded-0" multiple>
                <div class="invalid-feedback">
                    Please fill out this field.
                </div>
            </div>
        </div>
                    <button class="btn submit btn-success submit">
                        Post Ad
                    </button>
                </form>
                  </div>
                </div>
              </div>
            </div>

          </li>
        </ol>
      </nav>
      <form action="/marketplace/electronics" method="GET" class="form-inline offset-1">
        <input type="text" name="search" placeholder="Search" class="form-control">
        <button type="submit" class="btn btn-warning my-0 my-sm-0">Search</button>
      </form>
      <div class="row">
        <% for(var i = 0; i < items.length; i++) {%>
          <% if(items[i].types=="Electronics") { %> 
          <div class="book card col-12 col-md-4" style="margin-top: 2%; text-align: center; width: 400px; height: 600px;">
            <div class="card-body">
                <img src="../<%= items[i].images[0] %>" height="60%" width="60%">
                <h4>Name: <%= items[i].itemname %></h4>
                <h5>Seller Name: <%=items[i].name %></h5>
                <h5>Item Cost: <%= items[i].finalprice %> &nbsp;<sub><strike><%= items[i].originalprice %></strike></sub></h5>
                <h5>Description: <%= items[i].description %></h5>
                <form action="/marketplace/<%= items[i]._id %>" method="post">
                    <button type="submit" class="btn btn-info">Click here to get contact details</button>
                </form>
              </div>
          </div>
        <% } %>
        <% } %>
        </div>
</body>
</html>