<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../forum.css">
    <title>Document</title>
</head>
<body>
    <%- include("header", {active: "", name: name}); %>
    <div class="container mt-5">
        <div class="row">
            <div class="card col-12 col-md-10">
                <div class="row mt-2">
                    <div class="col-1">
                        <button class="icon"><i class="fa fa-user-o fa-2x"></i></button>
                    </div>
                    <form class="col-10" action="/addpost" enctype="multipart/form-data" method="post">
                        <textarea type="text" name="caption" class="form-control" placeholder="What's on your mind?" rows="1"></textarea>
                        <div class="mt-2 mb-2">
                            <label class="custom-file-upload">
                                <input type="file" name="image" multiple/>
                                <i class="fa fa-picture-o"></i> Photo
                            </label> 
                            <button type="submit" class="sbt button2">Post</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12 mt-4 card">
                <% for(let i = 0; i < posts.length; i++) { %>
                    <div class="card-body mt-2 post">
                        <div class="row">
                            <div class="col-1">
                                <button class="icon"><i class="fa fa-user-o fa-2x"></i></button>
                            </div>
                            <h5 class="col-3"><%= posts[i].name %></h5>
                        </div>
                        <p class="col-12 col-md-11 offset-md-1"><%= posts[i].caption %></p>
                        <img class="center" src="../<%= posts[i].images[0] %>">
                        <% if(posts[i].likes.length > 0) {%>
                            <span class="offset-1"> <%= posts[i].likes.length-1 %> likes</span>
                        <% } %>
                        <div class="row">
                            <form class="col-6" action="/addlike/<%=posts[i]. _id %>" method="post">
                                <button class="col-12 btn btn-outline-info">Like</button>
                            </form>
                            <!-- Button trigger modal -->
                            <button type="button" class="col-6 btn btn-outline-info" data-toggle="modal" data-target="#exampleModalLong">
                                Comment
                            </button>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/addcomment/<%= posts[i]._id %>" method="post">
                                            <div class="row">
                                                <input type="text" placeholder="Type something..." name="comment" class="col-8 offset-1 form-control"> &nbsp;
                                                <button class="col-2 btn btn-outline-success"> Send <i class="fa fa-paper-plane"></i></button>
                                            </div>
                                        </form>
                                        <div class="row post-content">
                                            <div class="col-4 likes"> 
                                                <h6>Liked by</h6>
                                                <% for(let j = 1; j < posts[i].likes.length; j++) { %>
                                                    <div class="mb-2"><%= posts[i].likes[j] %></div>
                                                <% } %>
                                            </div>
                                            <div class="col-8 likes"> 
                                                <h6>Commented by</h6>
                                                <% for(let j = 0; j < posts[i].comments.length; j++) { %>
                                                    <% var comment = posts[i].comments[j].split("asdfg") %>
                                                    <div class="row mb-2">
                                                        <div class="col-4"><%= comment[0] %></div>
                                                        <div class="col-8"><%= comment[1] %></div>
                                                    </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>