<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("header", {active: "", name: name}); %>
    <% for(let i = 0; i < items.length; i++) { %>
        <div class="row mt-5">
            <div class="col-12 card col-md-5 offset-md-1">
                <div class="row mb-3 mt-3">
                    <div class="col-4 col-md-3">
                        <img src="<%= items[i].images[0] %>" width="65%" height="100%" >
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="row">
                                <div><%= items[i].itemname %></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" style="margin-top: 16%;" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModalCenter">
                                    Update
                                </button>      
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                      <div class="modal-content">
                                        <form action="/updateitem/<%= items[i].id %>" method="post" enctype="multipart/form-data">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                            <label for="itemname" class="col-md-12 col-form-label"><b>Item Name:</b></label> 
                                            <div class="col-md-12">
                                                <input value="<%= items[i].itemname %>" type="text" class="form-control" id="itemname"  name="itemname" required>
                                            </div>
                                            <label for="originalprice" class="col-md-12 col-form-label"><b>Original price:</b></label> 
                                            <div class="col-md-12">
                                                <input value="<%= items[i].originalprice %>" type="text" class="form-control" id="originalprice"  name="originalprice" required>
                                            </div>
                                            <label for="finalprice" class="col-md-12 col-form-label"><b>Final price:</b></label> 
                                            <div class="col-md-12">
                                                <input value="<%= items[i].finalprice %>" type="text" class="form-control" id="finalprice"  name="finalprice" required>
                                            </div>
                                            <label for="image" class="col-md-12 col-form-label"><b>Add image:</b></label> 
                                            <div class="col-md-12">
                                                <input type="file" name="image" multiple/>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                        </form>
                                      </div>
                                    </div>
                                  </div>                        
                                <form action="/deleteitem/<%= items[i].id %>" method="post">
                                    <button style="margin-top: 62%; margin-left: 10%;" class="btn btn-outline-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</body>
</html>